:root{
    --color_primario:rgb(244, 241, 189);
    --color_primario_2:#eeebeb;
    --color_menu:#09accd;


            /*colores por denito*/
            --color_primario_d:#004542;
            --color_secundario_d:#187E79;
            --color_teciario_d:#1CBBB4;
}


header{
    background-color: var(--color_secundario_d);
    color: white;
    text-transform: uppercase;
}

.cabecera{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

#header_logo{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.logo_name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_name p{
    font-size: 2rem;
}

.menu_administracion_principal{
    width: 100%;
    background-color: var(--color_primario_d);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
}

.menu_administracion_principal a{
    text-decoration: none;
    cursor: pointer;
    color: rgba(9, 9, 9, 0.864);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.menu_administracion_principal a:hover{
    color: wheat;
    transition: 0.5s;
}

#header_contenido{
    display: grid;
    grid-template-rows:1fr 0.5fr;
    gap: 1rem;
}

@media (max-width:600px) {
    #header_logo{
        width: 5rem;
        height: 5rem;
    }
}