:root{
    --color_primario:rgb(244, 241, 189);
    --color_primario_2:#eeebeb;
    --color_menu:#09accd;
}

body{
    background-color: var(--color_primario_2);
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 2rem;
}

header{
    background-color: white;
}

.cabecera{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

#header_logo{
    width: 20rem;
    height: 10rem;
}

.logo_name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_name p{
    font-size: 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_contenido{
    background-color: white;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px #888888;
    width: 50%;
}

.loging_formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    text-align: center;
    width: 100%;
}

#login_img{
    width: 100%;
    height: 10rem;
}

.input_formulario{
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 70%;
}

.buton_formulario{
    background-color: blue;
    color: aqua;
}

.buton_formulario:hover{
    background-color: rgb(20, 243, 57);
    color: aqua;
}

#header_contenido{
    display: grid;
    grid-template-rows:1fr 0.5fr;
    gap: 1rem;
}

.menu_administracion_principal{
    width: 100%;
    background-color: var(--color_menu);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}

.menu_administracion_principal a{
    text-decoration: none;
    cursor: pointer;
    color: rgba(9, 9, 9, 0.864);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.menu_administracion_principal a:hover{
    color: wheat;
    transition: 0.5s;
}

@media (max-width:600px) {
    #header_logo{
        width: 10rem;
        height: 5rem;
    }
}