:root{
    --color_primario:rgb(244, 241, 189);
    --color_primario_2:#eeebeb;
    --color_menu:#09accd;

        /*colores por denito*/
        --color_primario_d:#004542;
        --color_secundario_d:#187E79;
        --color_teciario_d:#1CBBB4;
}


@font-face {
    font-family: 'Gothan ultra italic';
    src: url('../../gotham-ultra-italic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

header{
    width: 100%;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: var(--color_secundario_d);
    width: 100%;
}

body{
   /* background-color: var(--color_primario_2);
   */ 
   background-image: url("../../imagenes/fondo-app.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
   font-family: "Gothan ultra italic";
   display: flex;
   flex-direction: column;
}

header span{
    margin-left: 33.5%;
}

#header_img{
    width: 8rem;
    height: 8rem;
}



.cabecera{
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#header_logo{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.logo_name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.logo_name p{
    font-size: 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_contenido{
    background-color: var(--color_primario_d);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 2fr;
    text-transform: uppercase;
    box-shadow: 5px 5px #0c0c0c;
    border-radius: 25px;
    width: auto;
    height: auto;
    position: absolute;
    top: 5rem;
}


.main_contenido_2{
    background-color: var(--color_primario_d);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 2fr;
    text-transform: uppercase;
    box-shadow: 5px 5px #0c0c0c;
    border-radius: 25px;
    width: auto;
    height: auto;
    position: absolute;
    top: 10rem;
    padding: 3rem;
}

.main_contenido label{
    text-transform: uppercase;
    font-weight: 700;
}

.main_contenido input{
    border-radius: 25px;
}

.loging_formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

#login_img{
    width: 3.5rem;
    height: 3.5 rem;
    margin-left: 45%;
}

.input_formulario{
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 30rem;
}

.buton_formulario{
    background-color: var(--color_teciario_d);
    color:white;
}

.buton_formulario:hover{
    background-color: rgb(20, 243, 57);
    color: aqua;
    transition: 0.8s;
    cursor: pointer;
}

#header_contenido{
    display: flex;
    flex-direction: column;
    
    height: 10rem;
}

.menu_administracion_principal{
    width: 100%;
    display: flex;
   /* display: grid; */
   /* grid-template-columns: repeat(7,1fr);*/
   /* justify-content: center;*/
   /* align-items: center;*/
    gap: 1rem;
    color: white;
    background-color: var(--color_primario_d);
    height: 5rem;
}

.menu_administracion_principal a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
}

.menu_administracion_principal a:hover{
    color: rgb(248, 163, 6);
    transition: 0.5s;
}

@media (max-width:600px) {
    #header_img{
        width: 5rem;
        height: 5rem;
    }

    .main_contenido{
        width: 100%;
    }

    .menu_administracion_principal a{
        font-size: 0.8rem;
    }

    .menu_administracion_principal{
        left: 40%;
        flex-direction: column;
        height: 25rem;
    }

    header span{
        margin-left: 3%;
    }

    .logo_name p{
         font-size: 1rem;    
    }

    body{
                gap: 15rem;
    }
}