:root{
    --color_primario:rgb(244, 241, 189);
    --color_primario_2:#eeebeb;
    --color_menu:#09accd;

                /*colores por denito*/
                --color_primario_d:#004542;
                --color_secundario_d:#187E79;
                --color_teciario_d:#1CBBB4;
}

@font-face {
    font-family: 'Gothan ultra italic';
    src: url('../gotham-ultra-italic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: "Gothan ultra italic";
    background-color: var(--color_primario_2);
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    width: 100%;
    gap: 2rem;
}

header{
    background-color: var(--color_secundario_d);
    width: 100%;
}

.cabecera{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

#header_logo{
    width: 8rem;
    height: 8rem;
}

.logo_name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.logo_name p{
    font-size: 2rem;
}

main{
    width: 100%;
}

#header_contenido{
    display: grid;
    grid-template-rows:1fr 0.5fr;
    gap: 1rem;
}

.menu_administracion_principal{
    width: 100%;
    background-color: var(--color_primario_d);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}

.menu_administracion_principal a{
    text-decoration: none;
    cursor: pointer;
    color: rgba(9, 9, 9, 0.864);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.menu_administracion_principal a:hover{
    color: wheat;
    transition: 0.5s;
}

.main_contenido{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    justify-content: center;
}

#usuario_logo{
    width: 15rem;
    height: 15rem;
}

.flex_colum{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#datos_usuario{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.loging_formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}

.buton_formulario{
    background-color: var(--color_primario_d);
    color: white;
    width: 100%;
    min-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.buton_formulario:hover{
    background-color: rgb(20, 243, 57);
    color: aqua;
}

.input_formulario{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.formulario_legend{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

#listado_usuario{
    background-color: white;
    overflow-y: scroll;
}

table {
   /* font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
    border: 1rem;
    border-radius: 1rem;
  }

  th{
    background-color: #09accd;
  }
  
  td,
  th {
    text-align: left;
    width: 50%;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #c8c9c7;
  }
  
  tr {
    padding: 1rem;
  }

  #listado_usuarios tr:hover {background-color: #9feb92;}



@media (max-width:600px) {
    #header_logo{
        width: 5rem;
        height: 5rem;
    }

    #usuario_logo{
        width: 15rem;
        height: 15rem;
    }
    
    .main_contenido{
        display: flex;
        flex-direction: column;
    }

    .input_formulario{
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        margin-bottom: 0.1rem;
    }
    
}