:root{
    --color_primario:rgb(244, 241, 189);
    --color_primario_2:#eeebeb;
    --color_menu:#09accd;

                    /*colores por denito*/
                    --color_primario_d:#004542;
                    --color_secundario_d:#187E79;
                    --color_teciario_d:#1CBBB4;
}

@font-face {
    font-family: 'Gothan ultra italic';
    src: url('../../gotham-ultra-italic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
    background-color: var(--color_primario_2);
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    gap: 2rem;
    text-transform: uppercase;
    position: relative;
   /* font-family: "Gothan ultra italic";*/
}

.bloque_oculto{
    position: absolute;
    width: 50%;
    top: 25%;
    left: 20%;
    padding: 1.5rem;
    background-color: var(--color_primario_d);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--color_teciario_d);
    display: none;
}

#contenedor_mensajes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#mensaje{
    color: white;
}

.ocultar_mensaje{
    display: none;
}

.main_contenido{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 1rem;
}

.formulario_entrada{
    background-color: white;
    width: 100%;
    box-shadow: 5px 5px #888888;
    border-radius: 25px 25px 10px 10px;
}

.loging_formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}

.buton_formulario{
    background-color: var(--color_primario_d);
    color: white;
    width: 100%;
    min-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.buton_formulario:hover{
    background-color: rgb(20, 243, 57);
    color: aqua;
}

.input_formulario{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.formulario_legend{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

#listado_usuario{
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#usuario_logo{
    width: 15rem;
    height: 15rem;
}

.flex_colum{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_administracion_principal{
    width: 100%;
    background-color: var(--color_menu);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
}



.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


#equipo_name_span{
    font-size: 1.5rem;
    font-style: 700;
}


.plantilla_jugadores_datos_jugador{
   display: flex;
   gap: 2rem;
   margin-left: 1rem;
   padding: 1rem;
   border-radius: 25px;
   justify-content: center;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);     
}

#plantilla_jugadores_datos_jugador_img{
    width: 5rem;
    border-radius: 25px;
}

.plantilla_jugadores_datos_jugador_headers{
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: capitalize;
}

#plantilla_jugadores_datos_jugador_datos{
    display: flex;
    flex-direction: column;  
}

#contenedor_jugadores{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.titulos_span{
    font-weight: 700;
    font-size: 1rem;
}

@media (max-width:600px) {    
    .main_contenido{
        display: flex;
        flex-direction: column;
    }

    .input_formulario{
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        margin-bottom: 0.1rem;
    }

    #contenedor_jugadores{
        grid-template-columns: repeat(1,1fr);
    }

}